.cards__text {
  margin-bottom: 34px;
  font-family: "Cabinet Grotesk";
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}
.card {
  width: 325px;
  height: 328px;
  position: relative;
  display: flex;
  justify-content: center;
  border: 1px;
  border-radius: 30%;
  color: #e9e9e9;
}

.card__name {
  margin: 0;
  font-family: "Cabinet Grotesk";
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  align-content: center;
  color: rgba(0, 0, 0, 0.6);
  background-color: #ffffff;
  width: 73px;
  height: 24px;
  border-radius: 4px;
}

.card__image {
  width: 100%;
  border-radius: 20px;
}

.card__name-container {
  width: 101px;
  height: 24px;
  position: absolute;
  top: 15px;
}

.card__like {
  background: transparent url(/src/assets/Like_button.svg) no-repeat center;
  width: 18px;
  height: 15px;
  /* padding: 0 5px; */
  margin: 5px 0;
  border: none;
}
.card__like-selected {
  background: transparent url(/src/assets/Like_button-selected.svg) no-repeat
    center;
  width: 18px;
  height: 15px;
  /* padding: 0 5px; */
  margin: 5px 0;
  border: none;
}

.card__name-heading {
  display: flex;
  gap: 10px;
}
