.header {
  display: flex;
  justify-content: space-between;
  padding: 32px 0 28px;
}

.header__logo-date-container {
  display: flex;
  gap: 24px;
  align-items: center;
}

.header__button-avatar-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header__user-avatar {
  display: flex;
  gap: 12px;
  align-items: center;
}

.header__date-location {
  margin: 0;
  font-family: "Cabinet Grotesk";
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.header__username {
  margin: 0;
  font-family: "Cabinet Grotesk";
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.header__button {
  border: none;
  background: none;
  font-family: "Cabinet Grotesk";
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.header__menu {
  display: none;
  width: 44px;
  height: 44px;
  border: none;
  background-color: #ffffff;
  padding: 0;
  border-radius: 10px;
}

.header__menu_type_bar {
  display: block;
  width: 28px;
  height: 2px;
  background-color: black;
}

.header__menu_type_bar:first-child {
  margin: 16px 8px 8px;
}

.header__menu_type_bar:last-child {
  margin: 0 8px 16px 8px;
}

.header__link {
  text-decoration: none;
  color: black;
}

@media screen and (max-width: 768px) {
  .header__logo-date-container {
    flex-direction: column;
    align-items: flex-start;
  }
  .header__button-avatar-container {
    position: fixed;
    right: -100%;
    flex-direction: column-reverse;
    gap: 24px;
    background-color: #ffffff;
    align-items: center;
    padding: 60px 0;
    z-index: 1;
    border-radius: 10px;
  }

  .header__button-avatar-container-active {
    right: 40px;
    left: 40px;
  }

  .header__menu {
    display: block;
    z-index: 2;
  }

  .header__menu_type_bar-active {
    transition: all 0.2s ease-in-out;
  }

  .header__menu_type_bar.header__menu_type_bar-active:first-child {
    transform: translate(0, 5px) rotate(45deg);
  }
  .header__menu_type_bar.header__menu_type_bar-active:last-child {
    transform: translate(0, -5px) rotate(-45deg);
  }
  .header__menu:hover {
    cursor: pointer;
  }
}

@media screen and (max-width: 375px) {
  .header {
    padding: 18px 0 20px;
  }
  .header__button-avatar-container-active {
    left: 16px;
    right: 16px;
  }
}
